.table__container {
    height: 97%;
    background-color: rgba(255, 255, 255, 0.333);
    /* 
    for background image
    backdrop-filter: blur(7px); */
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 10px;
    overflow: auto;
}

.table__container tbody {
    overflow-y: auto;
}

thead th {
    position: sticky;
    top: 100px;
    left: 0;
    z-index: 1;
    background-color: #d5d1defe;
}

.page-header {
    position: sticky;
    height: 100px;
    top: 0;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.title_search {
    display: flex;
}

table {
    table-layout: fixed;
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.header {
    display: flex;
    align-items: center;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
    ;
}

.sort__icons {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

/* Ticket Importance */
.importance {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.critical {
    background-color: #b30021d2;
    color: rgb(255, 255, 255);
}

.high {
    background-color: rgba(255, 165, 48, 0.925);
    color: white;
}

.medium {
    background-color: rgba(255, 255, 59, 0.808);
}

.lowest {
    background-color: rgba(14, 153, 14, 0.74);
    color: white;
}

.low {
    background-color: rgba(50, 50, 255, 0.705);
    color: white;
}

/* Ticket Status */
.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.completed {
    background-color: #86e49d;
    color: #006b21;
}

.status.open {
    background-color: #cf9ba7d8;
    color: #b30021;
}

/* Project Table Styles */

.text_overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 20px;
    /* Color of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the handle */
    border-radius: 10px;
    /* Rounded corners for the handle */
}

/* Handle on hover (when the user hovers over the scrollbar) */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the handle on hover */
}

@media (max-width:1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}